.parallax-window {
    min-height: 700px;
    background: transparent;
}

.navbar .navbar-brand {
    padding-top: 10px;
  }

  .resume a {
    color: grey;
    margin-left: 15px;
    margin-top: 15px;
  }

header.masthead {
    color: white;}
    header.masthead .header-content {
      position: relative;
      width: 100%;
      margin-top: -50px;
      padding: 150px 15px 100px;
      text-align: left; }
      
.aboutMe h2{
  margin-top: 10px;
  font-size: 50px;
  margin-left: 700px;
}

.aboutMe p{
margin-top: 30px;
margin-left: 50px;

}

.skills h2 {
  margin-top: 25px;
  margin-left: 700px;
  font-size: 50px;
}
.skills li{
  font-size: 20px;
  margin-left: 30px;
}



.biopic {
  margin-left: 250px;
  margin-top: 25px;
  
}
.education h2 {
  margin-top: 25px;
  margin-left:682px;
  font-size: 50px;
}
.education h4{
  margin-left: 150px;
  margin-top: 20px;
}
.education li {
  margin-top: 25px;
  font-size: 20px;
  margin-left: 30px;
}
.projects h2{
  margin-top: 25px;
  margin-left: 682px;
  font-size: 50px;
}
.projects li {
  margin-top: 25px;
  font-size: 20px;
  margin-left: 30px;
}
  